# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/
build/
dist/

# Local movies directory (Exclude video files to prevent pushing huge files to GitHub)
movies/*
!movies/.gitkeep

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
